body {
  font-family: Arial;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
