body {
  font-family: Arial;
  margin: 0;
}

header {
  background: #0a8f08;
  color: white;
  padding: 15px;
  text-align: center;
}

header input, header select {
  padding: 8px;
  margin: 5px;
  width: 60%;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 15px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.qty {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 5px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

/* CART */
#cartBox {
  display: none;
  position: fixed;
  right: 10px;
  top: 10px;
  background: #fff;
  border: 2px solid #0a8f08;
  padding: 15px;
  width: 300px;
  max-height: 90vh;
  overflow: auto;
}

#cartBox input, #cartBox textarea {
  width: 100%;
  margin: 5px 0;
  padding: 6px;
}
